.content_title[data-v-88eb18f6] {
	display: -webkit-box;
	display: flex;
	padding: 5px 0 6px
}

.my_order_detail .content_title[data-v-88eb18f6] {
	margin-bottom: 20px
}

.content_title.border[data-v-88eb18f6] {
	padding-bottom: 16px;
	border-bottom: 3px solid #222
}

.content_title.has_sub[data-v-88eb18f6] {
	padding-bottom: 22px
}

.content_title.has_sub .btn_box[data-v-88eb18f6] {
	padding-top: 4px
}

.title[data-v-88eb18f6] {
	font-size: 24px;
	letter-spacing: -.36px
}

.title>h3[data-v-88eb18f6] {
	line-height: 29px;
	font-size: inherit
}

.sub_title[data-v-88eb18f6] {
	font-size: 12px;
	letter-spacing: -.005em;
	color: rgba(34, 34, 34, .5)
}

.btn_box[data-v-88eb18f6] {
	margin-left: auto;
	padding-left: 30px;
	flex-shrink: 0
}

.btn_box .btn[data-v-88eb18f6], .btn_box[data-v-88eb18f6] {
	display: -webkit-box;
	display: flex
}

.btn_box .btn[data-v-88eb18f6] {
	margin-right: -6px;
	padding: 0 6px;
	-webkit-box-align: center;
	align-items: center;
	font-size: 14px;
	letter-spacing: -.21px
}

.btn_box .btn[data-v-88eb18f6]+.btn {
	margin-left: 8px
}

.btn_box .btn[data-v-88eb18f6].btn_add {
	margin-right: 0;
	padding: 0 14px;
	height: 34px;
	line-height: 32px;
	border-radius: 10px;
	border: 1px solid #222;
	font-size: 12px;
	letter-spacing: -.06px
}

.btn_box .btn[data-v-88eb18f6] .btn_cancel {
	color: #f15746
}

.btn_box .icon[data-v-88eb18f6] {
	margin-right: 4px;
	width: 20px;
	height: 20px
}

.mo .content_title[data-v-88eb18f6], .sm .content_title[data-v-88eb18f6]
	{
	padding-top: 7px;
	border-bottom-width: 2px
}

.mo.my .content_title[data-v-88eb18f6], .sm.my .content_title[data-v-88eb18f6]
	{
	display: none
}

.mo .my_addressbook .content_title[data-v-88eb18f6], .mo .my_payment .content_title[data-v-88eb18f6],
	.sm .my_addressbook .content_title[data-v-88eb18f6], .sm .my_payment .content_title[data-v-88eb18f6]
	{
	display: block;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	border-bottom: 0
}

.mo .my_addressbook .content_title .title[data-v-88eb18f6], .mo .my_payment .content_title .title[data-v-88eb18f6],
	.sm .my_addressbook .content_title .title[data-v-88eb18f6], .sm .my_payment .content_title .title[data-v-88eb18f6]
	{
	display: none
}

.mo .my_addressbook .content_title .btn_box[data-v-88eb18f6], .mo .my_payment .content_title .btn_box[data-v-88eb18f6],
	.sm .my_addressbook .content_title .btn_box[data-v-88eb18f6], .sm .my_payment .content_title .btn_box[data-v-88eb18f6]
	{
	padding-left: 0
}

.mo .my_addressbook .content_title .btn[data-v-88eb18f6], .mo .my_payment .content_title .btn[data-v-88eb18f6],
	.sm .my_addressbook .content_title .btn[data-v-88eb18f6], .sm .my_payment .content_title .btn[data-v-88eb18f6]
	{
	width: 100%;
	font-size: 16px;
	letter-spacing: -.16px;
	height: 52px;
	line-height: 52px;
	border-color: #d3d3d3;
	border-radius: 12px
}

.mo .my_addressbook .content_title .btn_txt[data-v-88eb18f6], .mo .my_payment .content_title .btn_txt[data-v-88eb18f6],
	.sm .my_addressbook .content_title .btn_txt[data-v-88eb18f6], .sm .my_payment .content_title .btn_txt[data-v-88eb18f6]
	{
	width: 100%
}