
h3.sub_title {
	position: absolute;
    top: 44%;
    left: 30%;
    height: 100%;
    font-size: 70px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}

h2.sub_text {
	position: absolute;
    top: 39%;
    left: 36%;
    height: 100%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}

.swiper {
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-button-prev {
    color: black;
    opacity: 0.3;
    font-weight: 900;
    margin-left: 40px;
    padding-bottom: 68px;
}

.swiper-button-next {
    color: black;
    opacity: 0.3;
    font-weight: 900;
    margin-right: 40px;
    padding-bottom: 68px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: black;
}
span.swiper-pagination-bullet {
    background-color: gray;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 90.2%;
}
