#__layout {
	opacity: 1;
}

body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1,
	h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td,
	textarea, th, ul {
	margin: 0;
	padding: 0;
}

body, button, input, select, table, textarea {
	font-family: -apple-system, BlinkMacSystemFont, Roboto,
		AppleSDGothicNeo-Regular, NanumBarunGothic, NanumGothic, 나눔고딕,
		Segoe UI, Helveica, Arial, Malgun Gothic, Dotum, sans-serif;
	color: #222;
}

.container.sell[data-v-b36cb8c4] {
	background-color: #fafafa;
}

.content[data-v-b36cb8c4] {
	margin: 0 auto;
	padding: 20px 40px 160px;
	max-width: 780px;
	max-height: 1000px;
}

.buy_immediate[data-v-877ed62a], .price_descision_box[data-v-877ed62a] {
	background-color: #fff;
	border-radius: 20px;
}

.product_info_area[data-v-2b95d831] {
	padding: 32px;
	padding-top: 0px;
}

.product_info[data-v-2b95d831] {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	background-color: #fff;
}

.product_info[data-v-2b95d831] .product {
	padding-top: 0;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	border-radius: 10px;
	background-color: rgb(244, 244, 244);
}

.product[data-v-09fbcf09] {
	overflow: hidden;
	position: relative;
}

.product_info[data-v-2b95d831] .product .product_img {
	width: 100%;
}

.main_title_box1 {
	padding-left: 20px;
}

.detail_main_title .title[data-v-6e865099] {
	margin-bottom: 4px;
	font-size: 18px;
	letter-spacing: -.09px;
	font-weight: 400;
}

.price_descision_box[data-v-877ed62a] {
	padding: 0 32px;
}

.buy_immediate[data-v-877ed62a], .price_descision_box[data-v-877ed62a] {
	background-color: #fff;
}

.price_list[data-v-638c1354] {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding-top: 28px;
	padding-bottom: 22px;
	border-top: 1px solid #ebebeb;
}

.price_list .list_item[data-v-638c1354] {
	-webkit-box-flex: 1;
	flex: 1;
	text-align: center;
}

.price_list .list_item+.list_item[data-v-638c1354] {
	position: relative;
}

.price_list .title[data-v-638c1354] {
	line-height: 14px;
	font-size: 12px;
	letter-spacing: -.06px;
	color: rgba(34, 34, 34, .5);
}

.price_list .list_item+.list_item[data-v-638c1354]:before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	width: 1px;
	height: 40px;
	background-color: #ebebeb;
}

.price_list .price[data-v-638c1354], .price_list .unit[data-v-638c1354]
	{
	display: inline-block;
	line-height: 24px;
	vertical-align: top;
	font-size: 16px;
}

.used_info {
	padding: 32px;
}

.review_title[data-v-824856a2] {
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	letter-spacing: -.16px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: #222;
	box-sizing: border-box;
	border-radius: 12px 12px 0 0;
}

.info_write {
	background-color: #fafafa;
	padding: 20px;
	border-radius: 12px;
}

input[type=text] {
	font-size: 12px;
	letter-spacing: -.16px;
	text-align: left;
	height: 100px;
	width: 600px;
	background-color: #fafafa;
}

.buy_total_confirm[data-v-14995178] {
	padding: 0 32px 32px;
	background-color: #fff;
	border-radius: 20px;
}

.price_now_box[data-v-15aa5096] {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 2px solid #ebebeb;
}

.price_now_title[data-v-15aa5096] {
	font-size: 14px;
	letter-spacing: -.21px;
	font-weight: 700;
	min-width: 63px;
}

.price[data-v-15aa5096] {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 15px;
}

.aos .amount[data-v-15aa5096], .win_os .amount[data-v-15aa5096] {
	font-style: normal;
	line-height: 26px;
	font-size: 20px;
	font-weight: 600;
}

.unit[data-v-15aa5096] {
	padding-left: 2px;
	line-height: 26px;
	font-size: 20px;
	letter-spacing: -.3px;
	font-weight: 700;
}

.price_bind[data-v-158ed304] {
	padding-top: 10px;
	font-size: 13px;
	letter-spacing: -.07px;
}

.price_addition[data-v-3a2a7b6b] {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	min-height: 26px;
	font-size: 13px;
	letter-spacing: -.07px;
	margin-top: 0;
}

.price_title[data-v-3a2a7b6b] {
	color: rgba(34, 34, 34, .5);
}

.price_text[data-v-3a2a7b6b] {
	text-align: right;
	white-space: nowrap;
	color: #222;
	font-size: 14px;
	letter-spacing: -.21px;
}

.price_text[data-v-3a2a7b6b]:after {
	content: "";
	display: block;
	clear: both;
}

.price_box .price_title[data-v-679d7250] {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -.01px;
}

.container.sell .price_box .price[data-v-679d7250] {
	color: #31b46e;
}

.price_box .price[data-v-679d7250] {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.instant_group .price_bind>dl[data-v-158ed304] {
	margin-top: 0;
}

.price_total[data-v-679d7250] {
	padding-top: 16px;
	padding-bottom: 12px;
}

.price_box[data-v-679d7250] {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.aos .price_box .amount[data-v-679d7250], .win_os .price_box .amount[data-v-679d7250]
	{
	font-style: normal;
}

address, em {
	font-style: normal;
}

.btn_confirm {
	padding-top: 10px;
}

.btn_confirm[data-v-14995178] .btn {
	font-weight: 600;
}

.solid[data-v-6e799857] {
	font-weight: 700;
	background-color: #222;
}

.full[data-v-6e799857] {
	width: 100%;
	font-size: 16px;
	letter-spacing: -.16px;
	height: 52px;
	border-radius: 12px;
}

.btn[data-v-6e799857] {
	display: inline-flex;
	cursor: pointer;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	vertical-align: middle;
	text-align: center;
	background-color: #41b979;
}

.center {
	-webkit-box-align: center;
	text-align: center;
	margin: 40px 20px;
	background-color: #FFF;
}

h2.title1 {
	padding-top: 40px;
}

span.title_txt {
    font-size: 20px;
}