<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kabart.mapper.AttachMapper">

	<insert id="insert">
		insert into attachs (file_uuid, uploadpath, filename, filetype, up_id)
		values (#{file_uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{up_id} )
	</insert>

	<delete id="delete">
		delete from attachs where file_uuid = #{file_uuid}
	</delete>

	<select id="findByUuid"
		resultType="org.kabart.domain.AttachVO">
		select * from attachs where up_id = #{up_id}
	</select>
</mapper>