<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kabart.mapper.CartsMapper">
   <!-- definition of user define function -->

	<!-- 
		Author : 남승현
		기능 : 상품 장바구니 추가
	 -->
   <insert id="insert">
      insert into carts(mem_id, prod_id, quantity)
      values(#{mem_id},#{prod_id},#{quantity})
   </insert>

	<!-- 
		Author : 남승현
		기능 : 장바구니 상품 목록 가져오기
	 -->	
   <select id="getCarts" resultType="org.kabart.domain.CartsVO">
      SELECT pd.prod_id,c.quantity, pd.prod_name,pd.prod_price,im.img_srcs, pd.prod_category
      FROM carts c JOIN products pd ON c.prod_id = pd.prod_id
      JOIN imgs im ON pd.prod_id = im.prod_id AND img_tag='thumNail'
      WHERE mem_id = #{mem_id}
   </select>
	<!-- 
		Author : 남승현
		기능 : 장바구니에 존재하는 상품인지 여부 판단
	 -->
   <select id="isExist" resultType="_int">
      SELECT count(*) FROM carts WHERE
      mem_id = #{mem_id} and prod_id = #{prod_id}
   </select>

	<!-- 
		Author : 남승현
		기능 : 장바구니 상품 수량 변경
	 -->
   <update id="quantityUpdate">
      UPDATE carts set quantity = quantity + #{quantity}
      WHERE mem_id = #{mem_id} and prod_id = #{prod_id}
	</update>
	
		<!-- 
		Author : 남승현
		기능 : 장바구니 상품 선택 삭제
	 -->
	<delete id="removeCart">
		DELETE FROM carts WHERE mem_id = #{mem_id} and prod_id = #{prod_id}
	</delete>
	
	<!-- 
		Author : 남승현
		기능 : 장바구니 상품 전체 삭제
	 -->
	<delete id="removeCartAll">
		DELETE FROM carts WHERE mem_id = #{mem_id}
	</delete>
</mapper>