<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="org.kabart.mapper.MemberMapper" >
 
 	<!-- memberMap declare and definition -->
 	<resultMap type="org.kabart.domain.MemberVO" id="memberMap">
 		<id property="userid" column="userid"/>
 		<result property="mem_id" column="mem_id"/>
 		<result property="mem_pw" column="mem_pw"/>
 		<result property="mem_name" column="mem_name"/>
 		<result property="birth" column="birth"/>
 		<result property="address" column="address"/>
 		<result property="address_detail" column="address_detail"/>
 		<result property="gender" column="gender"/>
 		<result property="phone" column="phone"/>
 		<result property="join_date" column="join_date"/>
 		<result property="expire_date" column="expire_date"/>
 		<result property="family_num" column="family_num"/>
 		<collection property="auths" resultMap="authMap" />
 	</resultMap>
 	
 	<!-- authMap declare and definition -->
 	<resultMap type="org.kabart.domain.AuthVO" id="authMap">
 		<result property="mem_id" column="mem_id" />
 		<result property="auth" column="auth" />
 	</resultMap>
 	
 	<!-- definition of user define function -->
 	<select id="read" resultMap="memberMap">
<!--  		SELECT mem.userid, userpw, username, enabled, regdate, updatedate, auths.auth
		FROM MEMBER mem, MEMBER_AUTH auths
		WHERE mem.userid = auths.userid AND mem.userid = #{userid} -->
 	</select>
 	
 	<insert id="insertMember">
 		INSERT INTO members(mem_id, mem_pw, mem_name, birth, address, address_detail, gender, phone, family_num)
		VALUES (#{mem_id}, #{mem_pw}, #{mem_name}, #{birth}, #{address}, #{address_detail}, #{gender}, #{phone}, #{family_num})
 	</insert>
 	
 	<insert id="setAuth">
 		INSERT INTO authorities(username, authority) VALUES(#{mem_id}, 'ROLE_MEMBER')
 	</insert>
 	
 	
 </mapper>