<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="org.kabart.mapper.MemberMapper" >
 
 	<!-- memberMap declare and definition -->
 	<resultMap type="org.kabart.domain.MemberVO" id="memberMap">
 		<id property="userid" column="userid"/>
 		<result property="mem_id" column="mem_id"/>
 		<result property="mem_pw" column="mem_pw"/>
 		<result property="mem_name" column="mem_name"/>
 		<result property="birth" column="birth"/>
 		<result property="address" column="address"/>
 		<result property="address_detail" column="address_detail"/>
 		<result property="gender" column="gender"/>
 		<result property="phone" column="phone"/>
 		<result property="join_date" column="join_date"/>
 		<result property="expire_date" column="expire_date"/>
 		<result property="family_num" column="family_num"/>
 		<collection property="auths" resultMap="authMap" />
 	</resultMap>
 	
 	<!-- authMap declare and definition -->
 	<resultMap type="org.kabart.domain.AuthVO" id="authMap">
 		<result property="mem_id" column="username" />
 		<result property="auth" column="authority" />
 	</resultMap>
 	
 	<!-- definition of user define function -->
 	<select id="read" resultMap="memberMap">
 		SELECT mem.mem_id, mem_pw, mem_name, join_date, auths.authority
		FROM members mem, authorities auths
		WHERE mem.mem_id = auths.username AND mem.mem_id = #{mem_id}
 	</select>
 	
 	<insert id="insertMember">
 		INSERT INTO members(mem_id, mem_pw, mem_name, birth, address, address_detail, gender, phone, family_num)
		VALUES (#{mem_id}, #{mem_pw}, #{mem_name}, #{birth}, #{address}, #{address_detail}, #{gender}, #{phone}, #{family_num})
 	</insert>
 	
 	<insert id="setAuth">
 		INSERT INTO authorities(username, authority) VALUES(#{mem_id}, 'ROLE_MEMBER')
 	</insert>
 	
 	<select id="idCheck" resultType="int">
 		SELECT count(*) FROM members WHERE mem_id = #{mem_id}
 	</select>
 	
 	<select id="findId" resultType="String">
 		SELECT mem_id FROM members WHERE phone=#{phone}
 	</select>
 	
 </mapper>