<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kabart.mapper.OrderMapper">

	<select id="getNewList" resultType="org.kabart.domain.OrderVO"
		parameterType="java.util.List">
		SELECT
		opd.prod_id,opd.prod_name,opd.prod_price,opd.img_srcs,opd.prod_category,nvl(ct.quantity
		,1) as quantity FROM (SELECT pd.prod_id, prod_name, prod_price,
		im.img_srcs,pd.prod_category FROM products pd join imgs im on
		pd.prod_id = im.prod_id and img_tag='thumNail')opd LEFT join carts ct
		on ct.prod_id = opd.prod_id
		WHERE opd.prod_id in
		<foreach item="pid" collection="list" open="(" close=")"
			separator=",">
			#{pid}

		</foreach>
	</select>
	<select id="getUsedList" resultType="org.kabart.domain.OrderVO">
		SELECT pd.prod_id,
		prod_name, prod_price,
		im.img_srcs,pd.prod_category,1 as quantity,up.up_id,gd.grade,gd.discount_rate
		FROM
		products pd join imgs im on pd.prod_id = im.prod_id and
		img_tag='thumNail' join used_products up on up.prod_id = pd.prod_id
		and up.up_id=#{prod_id}
		join grades gd on gd.grade = up.grade

	</select>


	<select id="getSearchUsedList"
		resultType="org.kabart.domain.SearchOrderUsedVO">
 		<![CDATA[
 			SELECT pd.prod_name, pd.prod_price, up.grade,gd.discount_rate,up.up_regdate,up.sale_date, im.img_srcs 
			FROM products pd JOIN used_products up on pd.prod_id = up.prod_id JOIN grades gd on up.grade = gd.grade JOIN imgs im on pd.prod_id = im.prod_id
			WHERE im.img_tag = 'thumNail' AND  
			up.purchase_id = #{user_id} AND 
			(#{start_date}<=sale_date  and sale_date <=#{end_date})
 			
 		]]>
	</select>

	<select id="getSellingList"
		resultType="org.kabart.domain.SearchOrderUsedVO">
		<![CDATA[
		SELECT pd.prod_name, pd.prod_price,
		up.grade,gd.discount_rate,up.up_regdate,up.sale_date, im.img_srcs
		FROM products pd JOIN used_products up on pd.prod_id = up.prod_id JOIN
		grades gd on up.grade = gd.grade JOIN imgs im on pd.prod_id =
		im.prod_id
		WHERE im.img_tag = 'thumNail' AND
		up.mem_id = #{user_id} AND
		(#{start_date}<=up_regdate and up_regdate <=#{end_date}) AND
		sale_date IS NULL
		]]>
	</select>
	<select id="getSelledList"
		resultType="org.kabart.domain.SearchOrderUsedVO">
		<![CDATA[
		SELECT pd.prod_name, pd.prod_price,
		up.grade,gd.discount_rate,up.up_regdate,up.sale_date, im.img_srcs
		FROM products pd JOIN used_products up on pd.prod_id = up.prod_id JOIN
		grades gd on up.grade = gd.grade JOIN imgs im on pd.prod_id =
		im.prod_id
		WHERE im.img_tag = 'thumNail' AND
		up.mem_id = #{user_id} AND
		(#{start_date}<=sale_date and sale_date <=#{end_date})
		]]>
	</select>


</mapper>