<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kabart.mapper.OrderMapper">

	<select id="getNewList" resultType="org.kabart.domain.OrderVO"
		parameterType="java.util.List">
		SELECT
		opd.prod_id,opd.prod_name,opd.prod_price,opd.img_srcs,opd.prod_category,nvl(ct.quantity
		,1) as quantity FROM (SELECT pd.prod_id, prod_name, prod_price,
		im.img_srcs,pd.prod_category FROM products pd join imgs im on
		pd.prod_id = im.prod_id and img_tag='thumNail')opd LEFT join carts ct
		on ct.prod_id = opd.prod_id
		WHERE opd.prod_id in
		<foreach item="pid" collection="list" open="(" close=")"
			separator=",">
			#{pid}

		</foreach>
	</select>
	<select id="getUsedList" resultType="org.kabart.domain.OrderVO">
		SELECT pd.prod_id,
		prod_name, prod_price,
		im.img_srcs,pd.prod_category,1 as
		quantity,up.up_id,gd.grade,gd.discount_rate
		FROM
		products pd join imgs
		im on pd.prod_id = im.prod_id and
		img_tag='thumNail' join used_products
		up on up.prod_id = pd.prod_id
		and up.up_id=#{prod_id}
		join grades gd on
		gd.grade = up.grade

	</select>
	<insert id="orderID">
		INSERT INTO orders
		values(seq_order.nextVAl,#{mem_id},#{addr},#{addr_detail},#{phone},#{dname},sysdate)
	</insert>

	<insert id="insertOrders">
		INSERT INTO order_details values(
		(SELECT max(order_id) FROM ORDERS WHERE mem_id =
		#{mem_id}),#{mem_id},#{isUsed},#{quantity},#{review_check},null,#{prod_id})

	</insert>
	
	<update id="updateUsed">
		UPDATE used_products
		SET sale_date = sysdate,
			purchase_id = #{p_id}
		WHERE up_id = #{up_id}
	</update>



</mapper>