<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kabart.mapper.ProductListMapper">
	
	<select id="getCategoyProductList"
		resultType="org.kabart.domain.ProductListVO" >
		<![CDATA[
		select prod_id, prod_name, prod_price, prod_category, img_srcs, img_tag
		from
		(
			select rownum rn, p.prod_id as prod_id, p.prod_name as prod_name, to_char(p.prod_price, 'FM999,999,999,999') as prod_price, p.prod_category as prod_category, i.img_srcs as img_srcs, i.img_tag as img_tag
			from products p join imgs i on p.prod_id = i.prod_id
			where rownum <= #{cri.pageNum} * #{cri.amount} and img_tag='thumNail' and lower(prod_category) = lower(#{prod_category})
		)
		where rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<select id="getListWithPaging" resultType="org.kabart.domain.ProductListVO" >
		<![CDATA[
		select prod_id, prod_name, prod_price, prod_category, img_srcs, img_tag
		from
		(
			select rownum rn, p.prod_id as prod_id, p.prod_name as prod_name, to_char(p.prod_price, 'FM999,999,999,999') as prod_price, p.prod_category as prod_category, i.img_srcs as img_srcs, i.img_tag as img_tag
			from products p join imgs i on p.prod_id = i.prod_id
			where rownum <= #{pageNum} * #{amount} and img_tag='thumNail'
		)
		where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*)
		from
		(
			select rownum rn, p.prod_id as prod_id, p.prod_name as prod_name, p.prod_price as prod_price, p.prod_category as prod_category, i.img_srcs as img_srcs, i.img_tag as img_tag
			from products p join imgs i on p.prod_id = i.prod_id
			where img_tag = 'thumNail'
		)
	</select>
	
	<select id="getTotalCountCategory" resultType="int">
		select count(*)
		from
		(
			select rownum rn, p.prod_id as prod_id, p.prod_name as prod_name, to_char(p.prod_price, 'FM999,999,999,999') as prod_price, p.prod_category as prod_category, i.img_srcs as img_srcs, i.img_tag as img_tag
			from products p join imgs i on p.prod_id = i.prod_id
			where img_tag='thumNail' and lower(prod_category) = lower(#{prod_category})
		)
	</select>
</mapper>