<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kabart.mapper.ProductListMapper">
	<select id="getProductList"
		resultType="org.kabart.domain.ProductListVO">
		select p.prod_id as prod_id, p.prod_name as prod_name, p.prod_price as prod_price, p.prod_category as prod_category, i.img_srcs as img_srcs, i.img_tag as img_tag
		from products p join imgs i on p.prod_id = i.prod_id
		<where>
			<if test="prod_category != null">
				prod_category = #{prod_category}
			</if>
			<trim prefix="and">
				img_tag = 'thumNail'
			</trim>
		</where>
	</select>
</mapper>