<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kabart.mapper.UsedProductDetailMapper">

	<select id="read" resultType="org.kabart.domain.UsedProductDetailVO">
		select mem_id, prod_id, prod_name,
		prod_price, prod_category, prod_width, prod_height, prod_depth,
		up_id, up_regdate, up_comment, grade, sale_date, discount_rate, img_srcs,
		img_tag, (100 - discount_rate)*0.01*prod_price as used_price
		from v_used_products
		where img_tag = 'thumNail' and up_id=#{up_id}
	</select>
	
	<!-- <delete id="delete">
		delete from used_products where up_id=#{up_id}
	</delete>
	
	<update id="update">
		update used_products
		set up_comment=#{up_comment}
		where up_id=#{up_id}
	</update> -->

</mapper>