<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.kabart.mapper.UsedSellMapper">
  	
  	<!--  
  		작성자 : 차민수
  		기능 : 중고 상품 판매 insert 문 및 insert 후 insert 된 up_id 를 반환 
  	-->
  	<insert id="insertUsedProduct">
  		
  		insert into used_products(prod_id, mem_id, grade, up_comment)
  		values(#{prod_id}, #{mem_id}, #{grade}, #{up_comment})
  		
  		<selectKey keyProperty="up_id" order="AFTER" resultType="int">
  			select max(up_id) from used_products
  		</selectKey>
  		
  	</insert>
  	
  	<!--  
  		작성자 : 차민수
  		기능 : 중고 상품 판매 delete 문
  	-->
  	<delete id="deleteUsedProduct">
  		delete from used_products where up_id = #{up_id}
  	</delete>
  	
  	<!--  
  		작성자 : 차민수
  		기능 : 중고 상품 판매 update 문
  	-->
  	<update id="updateUsedProduct">
  		update used_products
  		set up_regdate = sysdate, up_comment = #{up_comment}, grade = #{grade}
  		where up_id = #{up_id}
  	</update>
  	
  </mapper>